DATABASE = {
    'name': 'webcine',
    'engine': 'peewee.MySQLDatabase',
    'host': 'localhost',
    'user': 'root',
    'password': 'password'
}
CELERY_BROKER_URL = 'amqp://guest:guest@localhost:5672//'
CELERY_RESULT_BACKEND = 'db+mysql://root:password@localhost/webcine'
DEBUG = True
SECRET_KEY = 'ssssh very secret!'
