{% extends "base_auth.html" %}

{% block content_title %}Libraries | Admin{% endblock %}

{% block main %}
    {% include "settings/menu.html" %}
    <div class="settings-panel">
        <h1>Libraries</h1>
        <table id="libraries" data-entity="library">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Structure</th>
                <th></th>
            </tr>
            {% for library in libraries %}
                <tr data-id="{{ library.id }}">
                    <td data-field="name" data-type="text">{{ library.name }}</td>
                    <td data-field="type" data-type="text">{{ library.type }}</td>
                    <td data-field="structure" data-type="text">{{ library.structure }}</td>
                    <th>
                        <a href="#" data-action="edit">Edit</a>
                        <a href="#" data-action="cancel">Cancel</a>
                        <a href="#" data-action="save">Save</a>
                    </th>
                </tr>
            {% endfor %}
        </table>
        <form action="{{ url_for('admin_create_library') }}" method="post">
            <form-group>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
                <p class="help-inline">This is also the name of the directory inside the storage folder</p>
            </form-group>
            <form-group>
                <label for="type">Type:</label>
                <select name="type" id="type">
                    <option value="tvseries">TV Series</option>
                    <option value="movies">Movies</option>
                </select>
            </form-group>
            <form-group>
                <label for="structure">Structure:</label>
                <select name="structure" id="structure">
                    <option value="sickbeard">Sickbeard</option>
                    <option value="couchpotato">Couchpotato</option>
                </select>
            </form-group>
            <form-group>
                <input type="submit" value="Create">
            </form-group>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>

        function traverseUp(el, tag) {
            while (el.parentNode) {
                el = el.parentNode;
                if (el.tagName === tag)
                    return el;
            }
            return null;
        }

        function cancelEdit(row) {
            row.classList.remove('editing');
            traverseUp(row, 'TABLE').classList.remove('editing');
            for (var i = 0; i < row.children.length; i++) {
                var field = row.children[i];
                if (field.dataset.hasOwnProperty('field')) {

                    var fieldType = field.dataset.type;
                    switch (fieldType) {
                        case "text":
                        case "email":
                        case "checkbox":
                            field.innerText = field.dataset.oldValue;
                            break;
                        case "password":
                            field.innerText = '[hidden]';
                            break;
                    }
                }
            }
        }

        function saveEdit(row) {
            var table = traverseUp(row, 'TABLE');
            var entity = table.dataset.entity;
            var entityId = parseInt(row.dataset.id, 10);

            var payload = {
                '_entity': entity,
                'id': entityId
            };

            for (var i = 0; i < row.children.length; i++) {
                var field = row.children[i];
                if (field.dataset.hasOwnProperty('field')) {

                    var fieldName = field.dataset.field;
                    var value = field.children[0].value;
                    if (field.dataset.type == 'checkbox') {
                        value = value == 'on';
                    }
                    payload[fieldName] = value;
                }
            }

            var xhr = new XMLHttpRequest();
            xhr.addEventListener('load', function (event) {

                for (var i = 0; i < row.children.length; i++) {
                    var field = row.children[i];
                    if (field.dataset.hasOwnProperty('field')) {

                        var fieldType = field.dataset.type;
                        switch (fieldType) {
                            case "text":
                            case "email":
                                field.innerText = field.children[0].value;
                                break;
                            case "checkbox":
                                if (field.children[0].value == 'on') {
                                    field.innerText = 'Yes'
                                } else {
                                    field.innerText = 'No'
                                }
                                break;
                            case "password":
                                field.innerText = '[hidden]';
                                break;
                        }
                    }
                }
                row.classList.remove('editing');
                table.classList.remove('editing');

            });

            xhr.addEventListener('error', function (event) {
                console.log('error', event);
            });

            xhr.open('POST', '/admin/save/' + entity);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.send(JSON.stringify(payload));
        }

        function editRow(row) {
            row.classList.add('editing');
            traverseUp(row, 'TABLE').classList.add('editing');
            for (var i = 0; i < row.children.length; i++) {
                var field = row.children[i];
                if (field.dataset.hasOwnProperty('field')) {
                    field.dataset.oldValue = field.innerText;
                    var fieldName = field.dataset.field;
                    var fieldType = field.dataset.type;
                    var input = document.createElement('INPUT');
                    input.id = 'edit-field-' + fieldName;
                    switch (fieldType) {
                        case "text":
                        case "email":
                            input.type = fieldType;
                            input.value = field.innerText;
                            break;
                        case "password":
                            input.type = 'password';
                            input.placeholder = 'Unchanged';
                            break;
                        case "checkbox":
                            input.type = 'checkbox';
                            input.checked = field.innerText == 'Yes';
                    }

                    field.innerHTML = '';
                    field.appendChild(input);

                }
            }

        }


        var librariesTable = document.getElementById('libraries');
        librariesTable.addEventListener('click', function (event) {
            if (event.target.tagName == 'A') {
                event.preventDefault();
                var row = traverseUp(event.target, 'TR');

                if (event.target.dataset.action == 'edit') {
                    editRow(row);
                }
                if (event.target.dataset.action == 'cancel') {
                    cancelEdit(row);
                }
                if (event.target.dataset.action == 'save') {
                    saveEdit(row);
                }
            }
        });
    </script>
{% endblock %}