<ul class="settings">
    <li><a href="{{ url_for('admin_users') }}">Users</a></li>
    <li><a href="{{ url_for('admin_libraries') }}">Libraries</a></li>
    <li><a href="{{ url_for('admin_series') }}">Series</a></li>
    <li><a href="{{ url_for('admin_movies') }}">Movies</a></li>
</ul>