{% extends "base_auth.html" %}

{% block content_title %}Series | Admin{% endblock %}

{% block main %}
    {% include "settings/menu.html" %}
    <div class="settings-panel">
        <h1>Series</h1>
        <table id="series">
            <tr>
                <th>Series</th>
                {% for user in users %}
                    <th>{{ user.username }}</th>
                {% endfor %}
            </tr>
            {% for wiId in watchinfo %}
                <tr>
                    <td>{{ series[wiId].name }}</td>
                    {% for user in users %}
                        <td>
                            {% if user.id in watchinfo[wiId] %}
                                {% if watchinfo[wiId][user.id].permissions %}
                                    <input type="checkbox" checked data-series="{{ wiId }}" data-user="{{ user.id }}">
                                {% else %}
                                    <input type="checkbox" data-series="{{ wiId }}" data-user="{{ user.id }}">
                                {% endif %}
                            {% else %}
                                <input type="checkbox" data-series="{{ wiId }}" data-user="{{ user.id }}">
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var seriesTable = document.getElementById('series');
        seriesTable.addEventListener('click', function (event) {
            if (event.target.tagName == 'INPUT') {
                var series = event.target.dataset.series;
                var user = event.target.dataset.user;
                var state = event.target.value;
                console.log(series, user, state);
            }
        });
    </script>
{% endblock %}