{% extends "base_auth.html" %}

{% block content_title %}Users | Admin{% endblock %}

{% block main %}
    {% include "settings/menu.html" %}
    <div class="settings-panel">
        <h1>Users</h1>
        <table id="users" data-entity="user">
            <tr>
                <th colspan="2">User</th>
                <th>Email</th>
                <th>Active</th>
                <th>Admin</th>
                <th>Password</th>
                <th></th>
            </tr>
            {% for user in users %}
                <tr data-id="{{ user.id }}">
                    <td width="32">
                        <img src="{{ user.gravatar_url(size=32) }}" class="gravatar">
                    </td>
                    <td data-field="username" data-type="text">{{ user.username }}</td>
                    <td data-field="email" data-type="email">{{ user.email }}</td>
                    <td data-field="active" data-type="checkbox">{% if user.active %}Yes{% else %}No{% endif %}</td>
                    <td data-field="admin" data-type="checkbox">{% if user.admin %}Yes{% else %}No{% endif %}</td>
                    <th data-field="password" data-type="password">[hidden]</th>
                    <th>
                        <a href="#" data-action="edit">Edit</a>
                        <a href="#" data-action="cancel">Cancel</a>
                        <a href="#" data-action="save">Save</a>
                    </th>
                </tr>
            {% endfor %}
        </table>
        <form action="{{ url_for('admin_create_user') }}" method="post">
            <form-group>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </form-group>
            <form-group>
                <label for="email">Email address:</label>
                <input type="email" name="email" id="email">
            </form-group>
            <form-group>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </form-group>
            <form-group>
                <label><input type="checkbox" name="active"> Active</label><br>
                <label><input type="checkbox" name="admin"> Admin</label><br>
            </form-group>
            <form-group>
                <input type="submit" value="Create">
            </form-group>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>

        function traverseUp(el, tag) {
            while (el.parentNode) {
                el = el.parentNode;
                if (el.tagName === tag)
                    return el;
            }
            return null;
        }

        function cancelEdit(row) {
            row.classList.remove('editing');
            traverseUp(row, 'TABLE').classList.remove('editing');
            for (var i = 0; i < row.children.length; i++) {
                var field = row.children[i];
                if (field.dataset.hasOwnProperty('field')) {

                    var fieldType = field.dataset.type;
                    switch (fieldType) {
                        case "text":
                        case "email":
                        case "checkbox":
                            field.innerText = field.dataset.oldValue;
                            break;
                        case "password":
                            field.innerText = '[hidden]';
                            break;
                    }
                }
            }
        }

        function saveEdit(row) {
            var table = traverseUp(row, 'TABLE');
            var entity = table.dataset.entity;
            var entityId = parseInt(row.dataset.id, 10);

            var payload = {
                '_entity': entity,
                'id': entityId
            };

            for (var i = 0; i < row.children.length; i++) {
                var field = row.children[i];
                if (field.dataset.hasOwnProperty('field')) {

                    var fieldName = field.dataset.field;
                    var value = field.children[0].value;
                    if (field.dataset.type == 'checkbox') {
                        value = field.children[0].checked;
                    }
                    console.log('field', fieldName, 'value', value, 'type', field.dataset.type);
                    payload[fieldName] = value;
                }
            }

            var xhr = new XMLHttpRequest();
            xhr.addEventListener('load', function (event) {

                for (var i = 0; i < row.children.length; i++) {
                    var field = row.children[i];
                    if (field.dataset.hasOwnProperty('field')) {

                        var fieldType = field.dataset.type;
                        switch (fieldType) {
                            case "text":
                            case "email":
                                field.innerText = field.children[0].value;
                                break;
                            case "checkbox":
                                if (field.children[0].checked) {
                                    field.innerText = 'Yes'
                                } else {
                                    field.innerText = 'No'
                                }
                                break;
                            case "password":
                                field.innerText = '[hidden]';
                                break;
                        }
                    }
                }
                row.classList.remove('editing');
                table.classList.remove('editing');

            });

            xhr.addEventListener('error', function (event) {
                console.log('error', event);
            });

            xhr.open('POST', '/admin/save/' + entity);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.send(JSON.stringify(payload));
        }

        function editRow(row) {
            row.classList.add('editing');
            traverseUp(row, 'TABLE').classList.add('editing');
            for (var i = 0; i < row.children.length; i++) {
                var field = row.children[i];
                if (field.dataset.hasOwnProperty('field')) {
                    field.dataset.oldValue = field.innerText;
                    var fieldName = field.dataset.field;
                    var fieldType = field.dataset.type;
                    var input = document.createElement('INPUT');
                    input.id = 'edit-field-' + fieldName;
                    switch (fieldType) {
                        case "text":
                        case "email":
                            input.type = fieldType;
                            input.value = field.innerText;
                            break;
                        case "password":
                            input.type = 'password';
                            input.placeholder = 'Unchanged';
                            break;
                        case "checkbox":
                            input.type = 'checkbox';
                            input.checked = field.innerText == 'Yes';
                    }

                    field.innerHTML = '';
                    field.appendChild(input);

                }
            }

        }


        var usersTable = document.getElementById('users');
        usersTable.addEventListener('click', function (event) {
            if (event.target.tagName == 'A') {
                event.preventDefault();
                var row = traverseUp(event.target, 'TR');

                if (event.target.dataset.action == 'edit') {
                    editRow(row);
                }
                if (event.target.dataset.action == 'cancel') {
                    cancelEdit(row);
                }
                if (event.target.dataset.action == 'save') {
                    saveEdit(row);
                }
            }
        });
    </script>
{% endblock %}