{% extends "base_auth.html" %}

{% block content_title %}Users | Admin{% endblock %}

{% block main %}
    {% include "settings/menu.html" %}
    <div class="settings-panel">
        <h1>Users</h1>
        <table>
            <tr>
                <th colspan="2">User</th>
                <th>Email</th>
                <th>Active</th>
                <th>Admin</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>
                        <img src="{{ user.gravatar_url(size=32) }}" class="gravatar">
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.active }}</td>
                    <td>{{ user.admin }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}