{% extends "base_auth.html" %}

{% block content_title %}Users | Admin{% endblock %}

{% block main %}
    {% include "settings/menu.html" %}
    <div class="settings-panel">
        <h1>Users</h1>
        <table id="users">
            <tr>
                <th colspan="2">User</th>
                <th>Email</th>
                <th>Active</th>
                <th>Admin</th>
                <th>Password</th>
                <th></th>
            </tr>
            {% for user in users %}
                <tr data-id="{{ user.id }}">
                    <td width="32">
                        <img src="{{ user.gravatar_url(size=32) }}" class="gravatar">
                    </td>
                    <td data-field="username" data-type="text">{{ user.username }}</td>
                    <td data-field="email" data-type="email">{{ user.email }}</td>
                    <td data-field="active" data-type="checkbox">{% if user.active %}Yes{% else %}No{% endif %}</td>
                    <td data-field="admin" data-type="checkbox">{% if user.admin %}Yes{% else %}No{% endif %}</td>
                    <th data-field="password" data-type="password">[hidden]</th>
                    <th>
                        <a href="#" data-action="edit">Edit</a>
                    </th>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascript %}
    <script>

        function traverseUp(el, tag) {
            while (el.parentNode) {
                el = el.parentNode;
                if (el.tagName === tag)
                    return el;
            }
            return null;
        }

        function editUser(row) {
            for (var i = 0; i < row.children.length; i++) {
                var field = row.children[i];
                if (field.dataset.hasOwnProperty('field')) {
                    field.dataset.oldValue = field.innerText;
                    var fieldName = field.dataset.field;
                    var fieldType = field.dataset.type;
                    var input = document.createElement('INPUT');
                    input.id = 'edit-field-' + fieldName;
                    switch (fieldType) {
                        case "text":
                        case "email":
                            input.type = fieldType;
                            input.value = field.innerText;
                            break;
                        case "password":
                            input.type = 'password';
                            input.placeholder = 'Unchanged';
                            break;
                        case "checkbox":
                            input.type = 'checkbox';
                            input.checked = field.innerText == 'Yes';
                    }

                    field.innerHTML = '';
                    field.appendChild(input);

                }
            }

        }


        var usersTable = document.getElementById('users');
        usersTable.addEventListener('click', function (event) {
            if (event.target.tagName == 'A') {
                event.preventDefault();
                if (event.target.dataset.action == 'edit') {
                    var row = traverseUp(event.target, 'TR');
                    editUser(row);
                }
            }
        });
    </script>
{% endblock %}