input, select {
  border: none;
  background: rgba(255,255,255,0.5);
  padding: 6px 15px;
  border-radius: 2px;
}

input[type=text], input[type=password], input[type=email], select{
  width: 240px;
}

form {
  div.clearfix {
    padding-bottom: 10px;
  }
}

button[type=submit] {
  border: none;
  padding: 6px 15px;
  border-radius: 15px;
}

p.help-inline {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  opacity: 0.8;
}