input,
select {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  padding: 6px 15px;
  border-radius: 2px;
}
input[type=text],
input[type=password],
input[type=email],
select {
  width: 240px;
}
form div.clearfix {
  padding-bottom: 10px;
}
button[type=submit] {
  border: none;
  padding: 6px 15px;
  border-radius: 15px;
}
p.help-inline {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  opacity: 0.8;
}
ul.settings {
  float: left;
  width: 200px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: block;
  padding: 0;
  margin: 20px 0 0 15px;
  list-style: none;
}
ul.settings li {
  list-style: none;
  display: block;
  padding: 10px 15px;
  color: #6b9432;
}
div.settings-panel {
  float: right;
  width: calc(100% - 245px);
  margin-right: 15px;
}
#users a[data-action=cancel],
#libraries a[data-action=cancel],
#users a[data-action=save],
#libraries a[data-action=save] {
  display: none;
}
#users.editing a[data-action=edit],
#libraries.editing a[data-action=edit] {
  display: none;
}
#users tr.editing a[data-action=cancel],
#libraries tr.editing a[data-action=cancel],
#users tr.editing a[data-action=save],
#libraries tr.editing a[data-action=save] {
  display: inline;
}
form {
  background: rgba(255, 255, 255, 0.1);
  margin: 15px 0;
  border-radius: 5px;
  padding: 10px;
}
form-group {
  display: block;
  padding: 10px 0;
}
form-group label {
  display: block;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body,
html {
  padding: 0;
  margin: 0;
}
body {
  background: #000911;
  color: #eee;
}
.control-format.disabled {
  color: #777;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.poster {
  box-shadow: rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}
#login-form {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: block;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}
a[href] {
  color: #6b9432;
  text-decoration: none;
}
a[href]:hover {
  color: #263512;
}
nav {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
nav a.nav-btn {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding: 0 15px;
}
nav #user {
  float: right;
  line-height: 48px;
  padding-right: 15px;
  padding-left: 15px;
}
nav #user img {
  float: left;
  margin-top: 8px;
  margin-right: 5px;
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px 0 0 1px;
}
div.message {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
p.message {
  text-align: center;
}
article.selected {
  box-shadow: 0 0 24px 0 rgba(180, 255, 235, 0.6);
}
article.serie {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;
  text-align: left;
  position: relative;
  min-height: 220px;
  padding: 10px 15px 10px 165px;
}
article.serie h2 {
  text-align: left;
}
article.serie img {
  position: absolute;
  width: 150px;
  left: 0;
  top: 0;
}
article.serie div.meta {
  position: absolute;
  bottom: 0;
  height: 22px;
  line-height: 22px;
  left: 165px;
  font-size: 0.8em;
}
article.serie div.meta span {
  padding-right: 15px;
}
article.serie a.add {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #6b9432;
  color: black;
  display: inline-block;
  padding: 6px 15px;
  border-radius: 0 0 0 5px;
}
article.serie a.add:hover {
  background: #263512;
}
article.movie {
  width: 200px;
  height: 300px;
  background: rgba(255, 255, 255, 0.1);
  float: left;
  position: relative;
  margin: 15px;
}
article.movie img {
  width: 200px;
  height: 300px;
}
article.movie:hover div.hoverlay {
  opacity: 1;
}
article.movie div.progress {
  position: absolute;
  height: 5px;
  background: rgba(0, 0, 0, 0.5);
  top: 293px;
  left: 5px;
  right: 5px;
}
article.movie div.progress .progress-inner {
  height: 5px;
  background-color: #6b9432;
}
article.movie div.hoverlay {
  opacity: 0;
  transition: opacity 300ms;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.5);
}
article.movie div.hoverlay a {
  display: block;
  padding: 5px;
  text-shadow: 0 0 4px #000;
}
article.episode {
  width: 287px;
  background: rgba(255, 255, 255, 0.1);
  float: left;
  position: relative;
  margin: 15px;
}
article.episode h3 {
  font-size: 1em;
}
article.episode h4 {
  font-size: 0.7em;
}
article.episode img {
  width: 100%;
  height: auto;
}
article.episode span {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 0 0 4px #000;
}
article.episode div.progress {
  position: absolute;
  height: 5px;
  background: rgba(0, 0, 0, 0.2);
  top: 234px;
  left: 5px;
  right: 5px;
}
article.episode div.progress .progress-inner {
  height: 5px;
  background-color: #6b9432;
}
article.episode:hover div.hoverlay {
  opacity: 1;
}
article.episode div.hoverlay {
  opacity: 0;
  transition: opacity 300ms;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.5);
}
article.episode div.hoverlay a {
  display: block;
  padding: 5px;
  text-shadow: 0 0 4px #000;
}
div.clearfix::after {
  content: " ";
  clear: both;
  display: block;
}
.splitcontainer {
  padding: 15px;
}
.splitcontainer::after {
  content: " ";
  clear: both;
  display: block;
}
.splitcontainer .split-left,
.splitcontainer .split-right {
  width: 50%;
}
.splitcontainer .split-left {
  float: left;
  padding-right: 7px;
}
.splitcontainer .split-right {
  float: right;
  padding-left: 7px;
}
table {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: 100%;
}
table td,
table th {
  padding: 10px;
  text-align: left;
}
.text-center {
  text-align: center;
}
section.actor {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  margin: 10px auto;
  text-align: left;
  position: relative;
  min-height: 72px;
  padding: 10px 15px 10px 64px;
}
section.actor img {
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 72px;
  background: rgba(255, 255, 255, 0.1);
}
section.actor h4 {
  text-align: left;
  padding: 0;
  margin: 0;
}
section.actor p {
  padding-bottom: 0;
  margin-bottom: 0;
}
.progress-bar {
  min-width: 150px;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
}
.progress-bar .progress-bar-inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 24px;
  text-align: center;
  color: white;
  overflow: hidden;
  background: #6b9432;
  font-size: 0.8em;
  line-height: 24px;
}
/*# sourceMappingURL=style.css.map */