@primary-color: #5eb95e;
@primary-color-hover: darken(@primary-color, 25%);

video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  cursor: pointer;
}

#cornerhint {
  position: absolute;
  top: 2*48px;
  left: 48px;
  width: 100px;
  height: 100px;

  img {
    display: none;
  }
}

nav {
  transition: top 500ms;
  position: absolute;
  top: -48px;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5) !important;
}

#controls {
  transition: bottom 500ms;
  height: 48px;
  position: absolute;
  bottom: -48px;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;

  a, span {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    padding-left: 15px;
    padding-right: 15px;
  }

  #progress-control-container {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 20px;

    &:hover #progress-hover {
      display: block;
    }
  }

  #progress {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgba(128, 128, 128, 0.5);

    #progress-inner, #progress-hover {
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
    }

    #progress-inner {
      background: @primary-color;
    }

    #progress-hover {
      display: none;
      background: rgba(0, 0, 0, 0.5);
    }
  }
}

body {
  overflow: hidden;
}

body.moved {
  nav {
    top: 0;
  }
  #controls {
    bottom: 0;
  }
}