{% extends "base_auth.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/play.css') }}">
{% endblock %}

{% block main %}
    <video src="/stream/{{ media.path }}" id="player" autoplay></video>
    <div id="controls">
        <a href="#" id="control-play" style="display: none;">Play</a>
        <a href="#" id="control-pause">Pause</a>
        <a href="{{ url_for('homepage') }}">Stop</a>
        <div id="progress-control-container">
            <div id="progress">
                <div id="progress-inner" style="width: 0;"></div>
                <div id="progress-hover" style="width: 0"></div>
            </div>
        </div>
        <span id="timer">0:00 / 0:00</span>
    </div>
    <script>
        function moved() {
            body.className = '';
        }

        var body = document.getElementsByTagName('body')[0];
        var video = document.getElementById('player');

        var movementTimer = setTimeout(moved, 5000);

        body.className = 'moved';
        body.addEventListener('mousemove', function () {
            body.className = 'moved';
            clearTimeout(movementTimer);
            movementTimer = setTimeout(moved, 5000);
        });

        function updateProgress() {
            if (!video.paused) {
                var progress = Math.floor(video.currentTime);

                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/progress/{{ media.id }}/' + progress);
                xhr.send(null);
            }
        }

        var progressTimer = setInterval(updateProgress, 2000);

        var progressBar = document.getElementById('progress');
        var progressBarInner = document.getElementById('progress-inner');
        var progressBarHover = document.getElementById('progress-hover');
        var progressControlContainer = document.getElementById('progress-control-container');

        var timer = document.getElementById('timer');
        video.addEventListener('timeupdate', function () {
            var progress = (video.currentTime / video.duration) * 100;
            progressBarInner.style.width = progress + '%';
            timer.innerHTML = secondsToTime(video.currentTime) + ' / ' + secondsToTime(video.duration);
        });

        video.addEventListener('click', function () {
            if (video.paused) {
                video.play();
            } else {
                video.pause();
            }
        });

        progressControlContainer.addEventListener('click', function (event) {
            var clickedPixels = event.pageX - this.clientLeft;
            var totalPixels = this.clientWidth;
            var progressFactor = (clickedPixels / totalPixels);
            video.currentTime = video.duration * progressFactor;
        });

        progressControlContainer.addEventListener('mousemove', function (event) {
            var hoverPixels = event.pageX - this.clientLeft;
            progressBarHover.style.width = hoverPixels + 'px';
        });

        function secondsToTime(sec_num) {
            sec_num = Math.floor(sec_num);
            var hours = Math.floor(sec_num / 3600);
            var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
            var seconds = sec_num - (hours * 3600) - (minutes * 60);

            if (hours < 10) {
                hours = "0" + hours;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            return hours + ':' + minutes + ':' + seconds;
        }

        var playButton = document.getElementById('control-play');
        var pauseButton = document.getElementById('control-pause');

        playButton.addEventListener('click', function (event) {
            event.preventDefault();
            this.style.display = 'none';
            video.play();
            pauseButton.style.display = 'inline-block';
        });

        pauseButton.addEventListener('click', function (event) {
            event.preventDefault();
            this.style.display = 'none';
            video.pause();
            playButton.style.display = 'inline-block';
        });

        {% if watchinfo.progress and watchinfo.progress > 0 %}
            var resumed = false;
            video.addEventListener('play', function () {
                if (!resumed) {
                    resumed = true;
                    video.currentTime = {{ watchinfo.progress }};
                }
            });
        {% endif %}
    </script>
{% endblock %}