{% extends "base_auth.html" %}

{% block content_title %}Dashboard{% endblock %}

{% block main %}
    {% if nothing_to_watch %}
        <div class="message">
            <h2>Nothing to watch!</h2>
            <a href="{{ url_for('available_series') }}">Start watching a new tv series</a>
        </div>
    {% else %}
        <h2>TV Series</h2>
        <div class="clearfix">
            {% for episode in episodes %}
                <article class="episode">
                    <img src="{{ url_for('cache', type='media_thumb', id=episode.media.id) }}" class="poster">
                    <span class="episode-number">
                        S{{ episode.media.season }} E{{ episode.media.episode }}
                        {% if episode.media.dual_episode %}
                            E{{ episode.media.episode + 1 }}
                        {% endif %}
                    </span>
                    <div class="hoverlay">
                        <a href="{{ url_for('play_media', media_id = episode.media.id) }}">Play</a>
                        <a href="{{ url_for('mark_watched', media_id = episode.media.id) }}">Watched</a>
                        <a href="{{ url_for('series_details', series_id = episode.media.series.id) }}">Details</a>
                        <a href="{{ url_for('mark_hidden', media_id = episode.media.id) }}">Hide</a>
                    </div>
                    {% if episode.progress and episode.progress != 0 %}
                        <div class="progress">
                            <div class="progress-inner"
                                 style="width: {{ (episode.progress/episode.media.length)*100 }}%"></div>
                        </div>
                    {% endif %}
                    <h3>{{ episode.media.series.name }}</h3>
                    <h4>{{ episode.media.name }}</h4>
                </article>
            {% else %}
                <p class="message">No new episodes available</p>
            {% endfor %}
        </div>
        <h2>Movies</h2>
        <div class="clearfix">
            {% for movie in movies %}
                <article class="movie">
                    <img src="{{ url_for('cache', type='movie', id=movie.media.id) }}">
                    <div class="hoverlay">
                        <a href="{{ url_for('play_media', media_id = movie.media.id) }}">Play</a>
                        <a href="{{ url_for('mark_watched', media_id = movie.media.id) }}">Watched</a>
                        <a href="{{ url_for('mark_hidden', media_id = movie.media.id) }}">Hide</a>
                    </div>
                    {% if movie.progress and movie.progress != 0 %}
                        <div class="progress">
                            <div class="progress-inner"
                                 style="width: {{ (movie.progress/movie.media.length)*100 }}%"></div>
                        </div>
                    {% endif %}
                </article>
            {% else %}
                <p class="message">No unwatched movies available</p>
            {% endfor %}
        </div>
        <script>
            var blockIndex = -1;
            var blocks = undefined;

            function moveSelection(direction) {
                if (blockIndex === -1) {
                    blocks = document.getElementsByTagName('article');
                    blockIndex = 0;
                    blocks[0].classList.add('selected');
                    return;
                }

                blocks[blockIndex].classList.remove('selected');
                if (direction === 'left') {
                    blockIndex--;
                }
                if (direction === 'right') {
                    blockIndex++;
                }
                blocks[blockIndex].classList.add('selected');

                if (direction === 'ok') {
                    location.href = blocks[blockIndex].getElementsByTagName('a')[0].href;
                }
            }

            document.addEventListener('keydown', function (event) {
                console.log(event.keyCode);
                if (event.keyCode == 39) { // right
                    moveSelection('right');
                }
                if (event.keyCode == 37) { // left
                    moveSelection('left');
                }
                if (event.keyCode == 38) { // up
                    moveSelection('up');
                }
                if (event.keyCode == 40) {  // down
                    moveSelection('down');
                }
                if (event.keyCode == 13) { // enter/ok
                    moveSelection('ok');
                }
            }, false);

        </script>
    {% endif %}
{% endblock %}