{% extends "base_auth.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/play.css') }}">
{% endblock %}

{% block main %}
    <video src="{{ src }}" id="player" autoplay></video>
    <div id="cornerhint">
        <img src="{{ url_for('static', filename='loading.svg') }}" id="icon-loading" width="100" height="100"
             style="display: inline-block;">
        <img src="{{ url_for('static', filename='pause.svg') }}" id="icon-pause" width="100" height="100">
        <div id="icon-volume-change" style="display: none;">
            <div class="name">Volume</div>
            <div class="volume">100%</div>
        </div>
    </div>
    <div id="video-popup">
        <div class="window">
            <div id="popup-transcode-needed" class="popup-hidden">
                <h2>Transcoding needed</h2>
                {% if transcodes|length > 0 %}
                    <p>You can't play the original file directly, choose one of the transcoded versions below:</p>

                    {% for format in transcodes %}
                        <a href="{{ url_for('play_media_transcoded', media_id=media.id, transcode_id=format.settings.profile) }}"
                           class="button {% if not format.done %}disabled{% endif %}">
                            {{ format.settings.label }}{% if not format.done %} ({{ format.progress }}%){% endif %}</a>
                    {% endfor %}
                {% else %}
                    <p>The video you're trying to play needs to be transcoded</p>

                    <a href="{{ url_for('transcode_one_media', media_id=media.id) }}" class="button">Transcode</a>
                {% endif %}

            </div>
        </div>
    </div>
    <div id="controls">
        <a href="#" id="control-play" style="display: none;">Play</a>
        <a href="#" id="control-pause">Pause</a>
        <a href="{{ url_for('homepage') }}">Stop</a>
        <div id="progress-control-container">
            <div id="progress">
                <div id="progress-inner" style="width: 0;"></div>
                <div id="progress-hover" style="width: 0"></div>
            </div>
        </div>
        <span id="timer">0:00 / 0:00</span>
        {% if media.series %}
            <span id="title">{{ media.series.name }} S{{ media.season }} E{{ media.episode }} {{ media.name }}</span>
        {% else %}
            <span id="title">{{ media.name }}</span>
        {% endif %}
        <a href="{{ url_for('play_media', media_id=media.id) }}" class="control-format">Original</a>
        {% for format in transcodes %}
            <a href="{{ url_for('play_media_transcoded', media_id=media.id, transcode_id=format.settings.profile) }}"
               class="control-format {% if not format.done %}disabled{% endif %}">
                {{ format.settings.label }}{% if not format.done %} ({{ format.progress }}%){% endif %}</a>
        {% endfor %}
    </div>
    <script>
        function moved() {
            body.className = '';
        }

        var body = document.getElementsByTagName('body')[0];
        var video = document.getElementById('player');

        var movementTimer = setTimeout(moved, 5000);

        body.className = 'moved';
        body.addEventListener('mousemove', function () {
            body.className = 'moved';
            clearTimeout(movementTimer);
            movementTimer = setTimeout(moved, 5000);
        });

        body.addEventListener('touchstart', function () {
            body.className = 'moved';
            clearTimeout(movementTimer);
            movementTimer = setTimeout(moved, 5000);
        });

        function updateProgress() {
            if (!video.paused) {
                var progress = Math.floor(video.currentTime);

                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/progress/{{ media.id }}/' + progress);
                xhr.send(null);
            }
        }

        var progressTimer = setInterval(updateProgress, 2000);

        var progressBar = document.getElementById('progress');
        var progressBarInner = document.getElementById('progress-inner');
        var progressBarHover = document.getElementById('progress-hover');
        var progressControlContainer = document.getElementById('progress-control-container');

        var iconLoading = document.getElementById('icon-loading');
        var iconPause = document.getElementById('icon-pause');
        var iconVolume = document.getElementById('icon-volume-change');
        var iconVolumeLevel = document.querySelector('#icon-volume-change .volume');

        var timer = document.getElementById('timer');
        video.addEventListener('timeupdate', function () {
            var progress = (video.currentTime / video.duration) * 100;
            progressBarInner.style.width = progress + '%';
            timer.innerHTML = secondsToTime(video.currentTime) + ' / ' + secondsToTime(video.duration);
        });

        function hideVolumeIcon() {
            iconVolume.style.display = 'none';
        }

        var volumeIconTimer = setTimeout(hideVolumeIcon, 2000);

        video.addEventListener('click', function () {
            if (video.paused) {
                video.play();
                iconPause.style.display = 'none';
            } else {
                video.pause();
                iconPause.style.display = 'inline-block';
            }
        });

        body.addEventListener('keydown', function (event) {
            if (event.keyCode == 32) {
                if (video.paused) {
                    video.play();
                    iconPause.style.display = 'none';
                } else {
                    video.pause();
                    iconPause.style.display = 'inline-block';
                }
            }
        }, false);

        video.addEventListener('wheel', function (event) {
            if (event.deltaY > 0) {
                video.volume -= 0.1;
            } else {
                video.volume += 0.1;
            }
            iconVolumeLevel.innerText = Math.floor(video.volume * 100) + '%';
            iconVolume.style.display = 'inline-block';
            clearTimeout(volumeIconTimer);
            volumeIconTimer = setTimeout(hideVolumeIcon, 2000);

        });

        video.addEventListener('seeking', function () {
            iconLoading.style.display = 'inline-block';
        });

        video.addEventListener('seeked', function () {
            iconLoading.style.display = 'none';
        });

        video.addEventListener('loadeddata', function () {
            iconLoading.style.display = 'none';
            if (!hasAudio(video)) {
                video.pause();
                console.error('Video has no valid audio stream, triggering transcode popup');
                var popupLayer = document.getElementById('video-popup');
                var popupContents = document.getElementById('popup-transcode-needed');
                popupLayer.style.display = 'block';
                popupContents.style.display = 'block';
            }
        });

        video.addEventListener('error', function () {
            console.error('Video error ' + video.error.code);
            console.log(video.error);
            if (video.error.code == 4) {
                video.pause();
                var popupLayer = document.getElementById('video-popup');
                var popupContents = document.getElementById('popup-transcode-needed');
                popupLayer.style.display = 'block';
                popupContents.style.display = 'block';
            }
        });

        progressControlContainer.addEventListener('click', function (event) {
            var clickedPixels = event.pageX - this.clientLeft;
            var totalPixels = this.clientWidth;
            var progressFactor = (clickedPixels / totalPixels);
            video.currentTime = video.duration * progressFactor;
        });

        progressControlContainer.addEventListener('mousemove', function (event) {
            var hoverPixels = event.pageX - this.clientLeft;
            progressBarHover.style.width = hoverPixels + 'px';
        });

        function hasAudio(video) {
            return video.mozHasAudio ||
                Boolean(video.webkitAudioDecodedByteCount) ||
                Boolean(video.audioTracks && video.audioTracks.length);
        }


        function secondsToTime(sec_num) {
            sec_num = Math.floor(sec_num);
            var hours = Math.floor(sec_num / 3600);
            var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
            var seconds = sec_num - (hours * 3600) - (minutes * 60);

            if (hours < 10) {
                hours = "0" + hours;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            return hours + ':' + minutes + ':' + seconds;
        }

        var playButton = document.getElementById('control-play');
        var pauseButton = document.getElementById('control-pause');

        playButton.addEventListener('click', function (event) {
            event.preventDefault();
            this.style.display = 'none';
            video.play();
            pauseButton.style.display = 'inline-block';
            iconPause.style.display = 'none';
        });

        pauseButton.addEventListener('click', function (event) {
            event.preventDefault();
            this.style.display = 'none';
            video.pause();
            playButton.style.display = 'inline-block';
            iconPause.style.display = 'inline-block';
        });

        {% if watchinfo.progress and watchinfo.progress > 0 %}
            var resumed = false;
            video.addEventListener('play', function () {
                if (!resumed) {
                    resumed = true;
                    video.currentTime = {{ watchinfo.progress }};
                }
            });
        {% endif %}
    </script>
{% endblock %}