{% extends "base_auth.html" %}

{% block main %}
    <h1>{{ series.name }}</h1>
    <div class="splitcontainer">
        <div class="split-left">
            <h2>Episodes</h2>
            {% for season in seasons %}
                <h3>Season {{ season.number }}</h3>
                <table class="episode-table">
                    <tr>
                        <th>Episode</th>
                        <th>Name</th>
                    </tr>
                    {% for episode_number in range(1, season.episodes) %}
                        <tr>
                            <td>{{ episode_number }}</td>
                            <td>
                                {% if season.number in season_episodes %}
                                    {% if episode_number in season_episodes[season.number] %}
                                        <a href="{{ url_for('play_media', media_id=season_episodes[season.number][episode_number].id) }}">
                                            {{ season_episodes[season.number][episode_number].name }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            {% endfor %}
        </div>
        <div class="split-right">
            <h2>Details</h2>
            <p>{{ series.description }}</p>
            <h3>Actors</h3>
            {% for actor in actors %}
                <section class="actor">
                    <img src="{{ url_for('cache', type='actor', id=actor.actor.id) }}" width="48" height="72">
                    <h4>{{ actor.actor.name }}</h4>
                    <p>{{ actor.personage }}</p>
                </section>
            {% endfor %}
        </div>
    </div>

{% endblock %}